@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700|Noto+Serif:400,400i,700|Squada+One&display=swap');

/* 
	GOOGLE FONTS:
	font-family: 'Squada One', 'Arial Black', Verdana, sans-serif;
	font-family: 'Noto Serif', Courier, serif;
	font-family: 'Noto Sans', Helvetica, sans-serif;
*/

body{
    background: #303036;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1{
	font-family: 'Squada One', 'Arial Black', Verdana, sans-serif;
}

h2,h3,h4,h5,h6,p,ul,li,ol,pre,div{
	color: #191919;
	font-family: 'Noto Sans', Helvetica, sans-serif;
}

a:link, a:visited{
	color: rgba(160, 151, 133, 0.92);
	text-decoration: none;
}

a:hover, a:active{
	color: rgba(160, 151, 133, 1);
	text-decoration: underline;
}

#header{
	width: 1010px;
	margin: 0 auto;
	background: #ffffff;
	display: block;
	overflow: auto;
}

.headerImage{
    margin: 5px auto 0 auto;
    display: block;
    max-width: 150px;
    padding: 10px 0 0 0;
}

#header .site-title{
    margin: 2px auto 8px auto;
    font-family: 'Squada One', 'Monda', sans-serif;
    color: gainsboro;
    opacity: .66;
    letter-spacing: 12px;
    word-spacing: 16px;
    font-size: 56px;
    text-align: center;
    padding: 10px 0px 6px 0px;
    display: block;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.retroshadow{
    color: #2c2c2c;
    text-shadow: 
      4px 4px 0px gray, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.NavMenu{
	width: 100%;
	margin: 0;
	padding: 0;
}

.NavMenu a:link, .NavMenu a:visited{
	color: #48484e;
	text-decoration: underline;
}

.NavMenu a:hover, .NavMenu a:active{
	color: gainsboro;
	text-decoration: none;
}

.NavMenu ul{
    padding: 2px;
    overflow: auto;
    margin: 6px auto 2px auto;
    width: auto;
    text-align: center;
}

.NavMenu ul li{
	font-family: 'Arvo', serif;
	font-size: 18px;
	list-style: none;
    display: inline-block;
    height: auto;
    padding: 0 4px 0 4px;
    margin: 0 auto;
	border: 1px solid #ffffff;
}

.NavMenu ul li:hover{
	border: 1px solid black;
}

#wrapper{
	width: 1010px;
	margin: 0 auto;
	clear: both;
	background: #ffffff;
}

#content{
	top: 0px;
	width: 800px;
	display: inline-block;
	vertical-align: top;
}

.post{
    padding: 12px;
    width: 764px;
}

.post h2{
	margin-bottom: 4px;
	font-family: 'Arvo', serif;
	font-size: 1.6em;
	color: #48484e;
}

.post h2 a:link, .post h2 a:visited{
	text-decoration: none;
	color: #48484e;
	background: transparent;
	padding: 2px 4px;
}

.post h2 a:hover, .post h2 a:active{
	text-decoration: none;
	color: #000000;
	background: rgba(160, 151, 133, 0.6);
	padding: 2px 4px;
	transition: none;
}

.post h4{
	font-family: 'Arvo', serif;
	font-size: 18px;
	font-weight: bold;
	color: #48484e;
	font-weight: normal;
	margin: 8px auto;
}

.post p a:link, .post p a:visited{
	color: inherit;
	padding: 2px;
	text-decoration: none;
	background-color: rgba(221, 210, 133, 0.4);
}

.post p a:hover, .post a:active{
	color: inherit;
	padding: 2px;
	text-decoration: none;
	background-color: transparent;
	transition: background-color .25s ease-in;
}

.post p{
	font-family: 'Noto Serif', serif;
    padding: 0;
	margin: 1.1em 0 1.5em 0;
	
}

.post ul, .post li{
	font-family: 'Noto Serif', serif;
}

.post figure{
	margin: 10px 0;
}

.SelectedImage{
    max-width: 666px;
    margin: 0 auto;
    padding: 4px 1px 4px 7px;
}

/*
	CATEGORY PAGE STYLES
	Styles that are specific to the category.php file.
*/

.categoryHeader{
	margin: 64px auto 32px;
    padding: 12px;
    font-size: 2.25em;
}

.categoryTitle{
	color: #ffffff;
    background-color: rgb(25, 25, 25);
    padding: 6px;
}

#sidebar{
	width: 200px;
	display: inline-block;
}

#sidebar ul{
	margin: 2px;
}

#sidebar li, #sidebar p{
	font-family: 'Noto Serif', serif;
    padding: 0px 4px 0 2px;
	font-size: 14px;
}

#sidebar h2{
	font-family: 'Arvo', serif;
	font-size: 20px;
	color: #000000;
	font-weight: normal;
	margin: 8px 8px 4px 8px;
}

#sidebar  a:link, #sidebar a:visited{
	color: #000000;
	padding: inherit;
	text-decoration: none;
	background-color: transparent
}

#sidebar a:hover, #sidebar  a:active{
	color: darkgrey;
	padding: inherit;
	text-decoration: none;
	transition: color .2s ease-in;
}

#footer{
    width: 1010px;
    padding: 4px;
    overflow: auto;	
}

#footer p{
	font-family: 'Noto Serif', serif;
	text-align: center;
    padding: 4px;
	width: auto;
}

#footer  a:link, #footer a:visited{
	color: #000000;
	padding: inherit;
	text-decoration: none;
	background-color: transparent
}

#footer a:hover, #footer  a:active{
	color: darkgrey;
	padding: inherit;
	text-decoration: none;
	transition: color .2s ease-in;
}

/*
	Wordpress specific CSS classes.
	These are things like image alignments which are assigned by wordpress when you are typing/filling out a post.
	Some of these will also be defined with in media queries to change their behavior at different resolutions.
*/

.alignleft{
	float: left;
    padding: 4px 8px 4px 4px;
}

.alignright{
	float: right;
    padding: 4px 4px 4px 8px;
}

.aligncenter{
	margin: 4px auto;
	max-width: 100%;
	padding: 0;
	display: block;
	clear: both;
	overflow-y: auto;
}

.alignnone{
	display: block;
	clear: both;
	max-width: 100%;
	padding: 4px 4px 4px 0;
}

.nav-previous{
	padding: 4px 8px 4px 16px;
}

/* 
	Special Helpers
	Special CSS helpers to make things look nicer in instances where things are being otherwise difficult.
*/
.no-fancy-link{
    padding: 0 !important;
    text-decoration: none;
    background-color: transparent !important;
}

.no-fancy-link > img:hover{
	opacity: 0.92;
}

/* Media Queries to support mobile formatting. */
@media screen and (max-width: 680px){
	#wrapper{
		width: 98%;
	}	

	#header{
		width: 98%;
	}
	
	#header .site-title{
		margin: 2px auto 8px auto;
		font-family: 'Squada One', 'Monda', sans-serif;
		color: gainsboro;
		opacity: .66;
		letter-spacing: 12px;
		word-spacing: 36px;
		font-size: 42px;
		text-align: center;
		padding: 10px 0px 6px 0px;
		display: block;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
	}

	.retroshadow{
		color: #2c2c2c;
		text-shadow: 3px 2px 0px grey, 7px 7px 0px rgba(0, 0, 0, 0.2);
	}
	
	.NavMenu ul li{
		font-size: 1.5em;
		padding: 0 6px 0 6px;
		margin: 2px auto;
	}

	#content{
		width: 98%;
		display: block;
		clear: both;
	}
	
	.post{
		width: 96%;
	}
	
	.post p{
		width: 98%;
		font-size: 14px;
		margin: 10px auto;
	}
	
	.post figure{
		margin: 10px;
	}
	
	.post iframe{
		max-width: 98%;
	}
	
	img, .SelectedImage{
		max-width: 98%;
		padding: 4px;
	}
	
	#sidebar{
		display: block;
		clear: both;
	}
	
	#footer{
		width: 98%;
		overflow-x: hidden;
		display: block;
		clear: both;
		padding: 6px;
	}
	
	#footer p{
		font-size: 10px;
		text-align: left;
		padding: 2px;
	}
	
	#delimiter{
		width: 92%;
		visibility: hidden;
		overflow: hidden;
	}
	
	/* 
		Wordpress Alignment settings. 
		On mobile just for the sake of everything put each image on it's own row and align it in the center of the post with no text wrapping around it.
	*/
	.alignnone, .aligncenter, .alignright, .alignleft{
		display: block;
		clear: both;
		max-width: 100%;
		padding: 4px 4px 4px 0;
	}
	
	.nav-previous, .nav-next{
		margin: 16px auto;
		width: 40%;
		padding: 16px;
		clear: none !important;
		text-align: center;
		display: inline-block !important;
	}

}

@media screen and (min-width: 681px) and (max-width: 1024px){
	#wrapper, #header{
		width: 96%;
		overflow-x: hidden;
	}
	
	#header .site-title{
		margin: 2px auto 8px auto;
		font-family: 'Squada One', 'Monda', sans-serif;
		color: gainsboro;
		opacity: .66;
		letter-spacing: 12px;
		word-spacing: 36px;
		font-size: 56px;
		text-align: center;
		padding: 10px 0px 6px 0px;
		display: block;
		text-transform: uppercase;
		text-rendering: optimizeLegibility;
	}

	.retroshadow{
		color: #2c2c2c;
		text-shadow: 3px 2px 0px grey, 7px 7px 0px rgba(0, 0, 0, 0.2);
	}
	
	.NavMenu ul li{
		font-size: 1.6em;
		padding: 0 6px 0 6px;
		margin: 2px auto;
	}
	
	#content{
		width: 96%;
		display: block;
		clear: both;
	}
	
	.post{
		width: 98%;
	}
	
	.post p{
		width: 96%;
		font-size: 14px;
		margin: 12px auto;
	}
	
	.SelectedImage{
		max-width: 96%;
		padding: 4px;
	}
	
	#sidebar{
		display: block;
		clear: both;
	}
	
	#footer p{
		font-size: 10px;
		text-align: left;
		padding: 2px;
	}
	
	#footer{
		width: 96%;
		overflow-x: hidden !important;
		overflow-y: auto !important;
	}
	
	#delimiter{
		width: 80%;
		visibility: hidden;
		overflow: hidden;
	}
	
	/* 
		Wordpress Alignment settings. 
		On mobile just for the sake of everything put each image on it's own row and align it in the center of the post with no text wrapping around it.
	*/
	.alignnone, .aligncenter, .alignright, .alignleft{
		display: block;
		clear: both;
		max-width: 100%;
		padding: 4px 4px 4px 0;
	}
}